--vocs-color_white: rgba(255 255 255 / 100%);
--vocs-color_black: rgba(0 0 0 / 100%);
--vocs-color_background: rgba(255 255 255 / 100%);
--vocs-color_background2: #f9f9f9;
--vocs-color_background3: #f6f6f6;
--vocs-color_background4: #f0f0f0;
--vocs-color_background5: #e8e8e8;
--vocs-color_backgroundAccent: #5b5bd6;
--vocs-color_backgroundAccentHover: #5151cd;
--vocs-color_backgroundAccentText: rgba(255 255 255 / 100%);
--vocs-color_backgroundBlueTint: #008cff0b;
--vocs-color_backgroundDark: #f9f9f9;
--vocs-color_backgroundGreenTint: #00a32f0b;
--vocs-color_backgroundGreenTint2: #00a43319;
--vocs-color_backgroundIrisTint: #0000ff07;
--vocs-color_backgroundRedTint: #ff000008;
--vocs-color_backgroundRedTint2: #f3000d14;
--vocs-color_backgroundYellowTint: #f4dd0016;
--vocs-color_border: #ececec;
--vocs-color_border2: #cecece;
--vocs-color_borderAccent: #5753c6;
--vocs-color_borderBlue: #009eff2a;
--vocs-color_borderGreen: #019c393b;
--vocs-color_borderIris: #dadcff;
--vocs-color_borderRed: #ff000824;
--vocs-color_borderYellow: #ffd5008f;
--vocs-color_heading: #202020;
--vocs-color_inverted: rgba(0 0 0 / 100%);
--vocs-color_shadow: #0000000f;
--vocs-color_shadow2: #00000006;
--vocs-color_text: #4c4c4c;
--vocs-color_text2: #646464;
--vocs-color_text3: #838383;
--vocs-color_text4: #bbbbbb;
--vocs-color_textAccent: #5753c6;
--vocs-color_textAccentHover: #272962;
--vocs-color_textBlue: #0d74ce;
--vocs-color_textBlueHover: #113264;
--vocs-color_textGreen: #218358;
--vocs-color_textGreenHover: #193b2d;
--vocs-color_textIris: #5753c6;
--vocs-color_textIrisHover: #272962;
--vocs-color_textRed: #ce2c31;
--vocs-color_textRedHover: #641723;
--vocs-color_textYellow: #9e6c00;
--vocs-color_textYellowHover: #473b1f;
--vocs-color_title: #202020;