.file-table-box {
  width: 100%;
  background-color: var(--vocs-color_codeBlockBackground);
  border-radius: var(--vocs-borderRadius_4);
  overflow: hidden;
  min-height: 200px;
}

.file-table-box .link {
  color: var(--vocs-color_link);
  text-decoration: underline;
}

.file-table-box .file-table {
  margin: var(--vocs-space_4) var(--vocs-space_16);
  width: 100%;
}

.file-table-box .file-table .tr {
  border-bottom: 1px solid var(--vocs-color_border);
  line-height: 2em;
}

.file-table-box .file-table .tr:last-child {
  border-bottom: 1px solid transparent;
}

.file-table-box .nav-box {
  padding: var(--vocs-space_8) var(--vocs-space_22);
  background-color: var(--vocs-color_codeTitleBackground);
  font-weight: var(--vocs-fontWeight_semibold);
  line-height: var(--vocs-lineHeight_heading);
}

.file-table-box .nav-box .nav {
}

.file-table-box .nav-box .info {
  
}


.pkg-selector {
  background-color: var(--vocs-color_codeTitleBackground);
  padding: var(--vocs-space_8) var(--vocs-space_22);
  margin-bottom: var(--vocs-space_20);
  border-radius: var(--vocs-borderRadius_4);
}


.pkg-selector .input {
  padding-left: 20px;
  margin-left: -20px;
  background-color: transparent;
  border-bottom: 1px solid var(--vocs-color_textAccent);
  color: var(--vocs-color_textAccent);
  outline: none;
  min-width: 220px;
}

.pkg-selector .filter {
  padding-left: 20px;
  margin-left: -20px;
  background-color: transparent;
  border-bottom: 1px solid var(--vocs-color_textAccent);
  color: var(--vocs-color_textAccent);
  outline: none;
  width: 100px;
}

.pkg-selector .select {
  outline: none;
  width: 240px;
  background-color: var(--vocs-color_codeTitleBackground);
}